/HomeTask2/nbproject/
*/nbproject
/README.md
/HomeTask2/build/
/HomeTask1/build/
/AnyHolidays
/AllOfThePeople/build/
/AllOfThePeople/test/
/AllOfThePeople/nbproject/
/AllOfThePeople/build.xml
/AllOfThePeople/manifest.mf
